<ion-view view-title="Inicio">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
		<div>
			<div class="animate-fade-slide-in">
				<div class="item card-item">
					<div class="card stable-bg ink ink-dark">			
						<a class="image"><img src="img/inicio.jpg" style="width:300px;max-height:300px"></a>
					</div>
				</div>
			</div>
            <a class="item item-list-detail">
				<ion-scroll direction="x">
					<img ng-repeat="image in allImages" ng-src="{{image.src}}" class="image-list-thumb"/>
				</ion-scroll>
			</a>    
		</div>
    </ion-content>
</ion-view>
