<ion-view view-title="Hacer Foto">
  <ion-content>
    <button ng-click="getPhoto()" class="button button-block button-outline icon-left ion-aperture custom-text">Fotografíar</button>
	<img ng-src="{{lastPhoto}}" style="max-width: 100%">
  </ion-content>
</ion-view>
