<ion-view view-title="Galeria">
  <ion-content  ng-class="{expanded:isExpanded}" class="list animate-fade-slide-in-right" overflow-scroll="false">
	
	<button class="button button-full button-assertive custom-light" ng-click="select()">Refrescar</button>
    
	<div class="list">
		<div class="card card-gallery item item-text-wrap" ng-repeat="acontecimientoSqlite in acontecimientosSqlite" ng-last-repeat="mylist" style="width:100px">
            <div class="ink dark-bg">
                <h2>{{acontecimientoSqlite.titulo}}</h2>
				<a ng-click="showImages($index)">
					<img style="width:100px;height:100px" src="{{acontecimientoSqlite.url}}">
				</a>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item stable-bg assertive">
                    <i class="icon ion-android-calendar"></i>
                    <span>{{acontecimientoSqlite.fecha}}</span>
                </a>
            </div>
        </div>
	</div>
	
</ion-content>

</ion-view>
