<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active">

  <!-- Inicio -->
  <ion-tab title="Inicio" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/inicio">
    <ion-nav-view name="tab-inicio"></ion-nav-view>
  </ion-tab>

  <!-- Listado -->
  <ion-tab title="Listado" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/listado">
    <ion-nav-view name="tab-listado"></ion-nav-view>
  </ion-tab>

  <!-- Galería -->
  <ion-tab title="Galería" icon-off="ion-ios-photos-outline" icon-on="ion-ios-photos" href="#/tab/galeria">
    <ion-nav-view name="tab-galeria"></ion-nav-view>
  </ion-tab>

  <!-- Fotografiar -->
  <ion-tab title="Hacer foto" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/tab/fotografiar">
    <ion-nav-view name="tab-fotografiar"></ion-nav-view>
  </ion-tab>

</ion-tabs>
