<!-- -->
<ion-view view-title="Foto">
	<ion-content>
		<div class="modal image-modal transparent">
			<ion-slide-box on-slide-changed="slideChanged(index)" active-slide="activeSlide">
				<ion-slide ng-repeat="acontecimientoSqlite in acontecimientosSqlite">
					<ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false"
						zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
						delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)" overflow-scroll="false">
				 
						<div class="imagen" style="background-image: url( {{acontecimientoSqlite.url}} )"></div>
				  
					</ion-scroll>
				</ion-slide>
			</ion-slide-box>
		</div>
	</ion-content>
</ion-view>
