
<ion-view view-title="Detalle">
	<ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="button-bar">
			<a class="button icon ion-android-create" ng-click="getDatos()"></a>
			<a class="button icon ion-trash-b" ng-click="borrarFoto()"></a>
			<a class="button icon ion-android-share-alt" ng-click="enviarWhatsApp()"></a>
		</div>
		<div class="item card-item">
            <div class="card stable-bg ink ink-dark">			
				<a class="image"><img src="{{url}}" style="width:300px;max-height:300px"></a>
            </div>
        </div>
        <div class="item card-item item-text-wrap">
            <div class="card stable-bg ink ink-dark">
                <h2>{{titulo}}</h2>
				<h2>{{comentario}}</h2>
				<p>{{fecha}}</p>
            </div>
        </div>
        <div class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <a href="#/tab/listado/mapa/{{longitud}}/{{latitud}}">
                    <h2 class="icon ion-location dark"> Consultar mapa</h2>
                    <div class="card-footer text-right">
						<i>Longitud: {{longitud}}</i> 
                        <i>Latitud: {{latitud}}</i> 
                    </div>
                </a>
            </div>
        </div>
		
    </ion-content>
</ion-view>
