<ion-view view-title="Listado">
<ion-content ng-class="{expanded:isExpanded}">
	<button class="button button-full button-assertive custom-light" ng-click="select()">Refrescar</button>
    
        <div class="list animate-fade-slide-in-right">
            <div ng-repeat="acontecimientoSqlite in acontecimientosSqlite" ng-last-repeat="mylist" type="item-text-wrap">
                <a href="#/tab/listado/{{acontecimientoSqlite.id}}" class="item item-avatar item-icon-right">
                    <img ng-src="{{acontecimientoSqlite.url}}">
					<h2>{{acontecimientoSqlite.titulo}}</h2>
					<p>{{acontecimientoSqlite.fecha}}</p>
					<i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
        </div>
    
</ion-content>


  
