/* Empty. Add your own CSS if you like */
map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

a:link   
{   
 text-decoration:none;   
}   

.custom-light{
    background-color:#B3CC45 !important; 
 }
 
.tabs-positive > .tabs{
	background-color:#639E22 !important;
}

.custom-dark{
    background-color:#639E22 !important; 
 }
 
 .custom-text{
    color:#639E22 !important; 
 }
 
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 50px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.imagen {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}

.popup-buttons .button {
    background-color: #B3CC45;
}










